body{
  /*Set our fonts here and then we use precentages to step down the font-size*/
  /*for mobile versions*/
  font-size: 40px;
}

#quotespace{
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  top: -120;
  width: 400px;
 }

#mybutton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

p{
  display: inline;
  font-size: 100%;
  }

#quote{
  font-size: 100%
  text-align: center;
  }

.fa-quote-left{
 position: relative;
 display: inline;
 float: left;
 color: #BFF2FF;
}

.fa-quote-right{
 position: relative;
 display: inline;
 float: right;
 color: #BFF2FF;
 }

 @media screen and (max-width: 800px){
   #quotespace{
     text-align: center;
     margin-left: auto ;
     margin-right: auto ;
     top: -120;
     width: 90%;
     padding-left: 5%;
     padding-right: 5%;
    }
p {
  font-size: 55%;
}
 }
 @media screen and (max-width: 400px), screen and (max-height: 605px){
p{
  font-size: 45%;
}
}
