body{
  /*Set our fonts here and then we use precentages to step down the font-size*/
  /*for mobile versions*/
  font-size: 40px;
}

#quotespace{
  width: 500px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  top: -120px;
 }

#mybutton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

p{
  display: inline;
  font-size: 100%;
  }

#quote{
  font-size: 100%
  text-align: center;
  }

.fa-quote-left{
 position: relative;
 display: inline;
 float: left;
 color: #BFF2FF;
}

.fa-quote-right{
 position: relative;
 display: inline;
 float: right;
 color: #BFF2FF;
 }

 @media screen and (max-width: 719px){
   #quotespace{
     text-align: center;
     margin-left: auto ;
     margin-right: auto ;
     top: -120;
     width: 90%;
     padding-left: 5%;
     padding-right: 5%;
    }
p {
  font-size: 45%;
}
 }
 @media screen and (max-width: 400px){
p{
  font-size: 45%;
}
}

 /*Now make it look good on IPad*/
 @media only screen
   and (min-device-width: 768px)
   and (max-device-width: 1024px)
   and (-webkit-min-device-pixel-ratio: 1) {
p{
  font-size: 65%;
}
 }
